body {
	background-image: url("https://cloud.githubusercontent.com/assets/26077051/24317828/763f6e42-10d2-11e7-9fbf-11a314efede3.png");
}

h1 {
	color: #4aaaa5;
	background-color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 40px;
	float: left;

}
h2 {
   position: absolute;
   top: 150px;
   left: 0;
   width: 100%;
   margin: 0 auto;
   width: 250px;
   height: 30px;
   color: white;
   background-color: #4aaaa5;
   text-align: center;
}
.font {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

.connectHeader {
	margin-bottom: 5px;
	background-color: #ffffff;
	float: right;

}

.site-footer {
	background-color: #666666;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	text-align: center;
	border-top: 30px;
	border-color: #777777;
	clear: both;

}

#Connect {
	float: right;
	background-color: #ffffff;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 70px;
	margin-left: 70px;
}

#leftSide {
	float: left;
	background-color: #ffffff;
	border-width: 10px;
	margin: 30px 70px;
}

.formSub {
	background-color: #ffffff;
	text-align: center;
	margin: 30px;
}

.displayed {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#header {
	margin-bottom: 5px;
	background-color: #ffffff;
	background-size: 100%;
	width: 100%;
}

.socialMedia {
	align-content: center;
}

.topnav {
	background-color: #ffffff;
	overflow: hidden;
}
.topnav a {
	float: right;
	display: block;
	color: #777777;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
.topnav a:active {
	background-color: #777777;
	color: white;
}
.namebox {
	float: left;
	background-color: #4aaaa5; 
	text-align: center;
	font-size: 40px;
	width: 30%;	
}
.portfolioimage1 {
	position: relative;
	height: 200px;
	width: 250px;
	float: left;
	margin: 30px;
	z-index: 1;
	background-image: url(https://cloud.githubusercontent.com/assets/26077051/24434574/70751a28-13fe-11e7-946a-2dc23ff15139.jpg);
}
.portfolioimage2 {
	float: right;
	position: relative;
	height: 200px;
	width: 250px;
	margin: 30px;
	z-index: 2;
	background-image: url(https://cloud.githubusercontent.com/assets/26077051/24434574/70751a28-13fe-11e7-946a-2dc23ff15139.jpg);
}
.portfolioimage3 {
	float: left;
	position: relative;
	width: 100%;
	height: 200px;
	width: 250px;
	z-index: 3;
	margin: 30px;
	background-image: url(https://cloud.githubusercontent.com/assets/26077051/24434574/70751a28-13fe-11e7-946a-2dc23ff15139.jpg);
}
.portfolioimage4 {
	float: right;
	position: relative
	width: 100%;
	height: 200px;
	width: 250px;
	margin: 30px;
	background-image: url(https://cloud.githubusercontent.com/assets/26077051/24434574/70751a28-13fe-11e7-946a-2dc23ff15139.jpg);
}
.portfolioimage5 {
	float: left;
	position: relative;
	height: 200px;
	width: 250px;
	margin: 30px;
	background-image: url(https://cloud.githubusercontent.com/assets/26077051/24434574/70751a28-13fe-11e7-946a-2dc23ff15139.jpg);

}
.aboutme {
	width: 650px;
	float: left; 
	position: relative;
	text-align: center;
}